* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.board1 {	
	/*margin: 50px auto 0;*/
	position: absolute;
	top: calc(50% - 25vh);
	left: calc(50% - 25vh);
	width: 50vh;
	height: 50vh;
	border: 2px solid #000;
	font-size: 0;
}
h1 {
	margin-top: 20px;
	text-align: center;
}
.board1 span {
	display: inline-block;
	width: 50%;
	height: 50%;
	border: 2px solid #000;
}
.board1 span:first-child, .board1 span:last-child {
	background-color: red;
}
.clearfix::after {
	content: "";
	display: block;
	clear: both;
}
.board2 {
	width: 50vh;
	margin: 100vh auto 0;	
	border: 2px solid #000;
}
.board2 span {
	float: left;
	width: 50%;	
	height: 25vh;
	border: 2px solid #000;
}
.board2 span:first-child, .board2 span:last-child {
	background-color: red;
}
.board3 {
	position: relative;
	width: 50vh;
	height: 50vh;
	border: 2px solid #000;
	margin: 80px auto 0;
}
.board3 span {
	position: absolute;	
	border: 2px solid #000;
	width: 50%;
	height: 50%;
}
.board3 span:first-child {
	top: 0;
	left: 0;
	background-color: red;
}
.board3 span:nth-child(2) {
	top: 0;
	left: 50%;
	background-color: #ddd;
}
.board3 span:nth-child(3) {
	top: 50%;
	left: 0;
	background-color: #ddd;
}
.board3 span:last-child {
	bottom: 0;
	right: 0;
	background-color: red;
}
